<div style="    width: 100vw;
height: 100vh;
}">
  <div style="width: 100%;
  height: 100%;">
    <div style="width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;">
      <span style="    position: relative;
      background: #e2e1df;
      font-size: 22px;" resizable resizeDirection='horizontal'>
        <div style="padding: 20px;">
          Panel with menu
        </div>
      </span>
      <div style="display: flex;
      flex-direction: column;width: 100%;">
        <span style="    background: #fff128; position: relative;" resizable>
          top area
        </span>
        <div>
          botton area
        </div>
      </div>
    </div>
  </div>
</div>